/* 滚动 */
#gongao {
    width: 85%;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    font-size: 13px;
    font-family: '宋体';
    /* background: #DDE5ED; */
    color: #0C77CF;
    font-weight: bold;
    margin: 0 auto;
  }
  
  #gongao #scroll_begin,
  #gongao #scroll_end {
    display: inline
  }
/* 轮播图 */

#gdin-carousel > .container > .carousel {
  margin-left: 182px;
  /* height: 400px; */
}
#gdin-carousel > .container > .carousel img {
  /* height: 400px; */
}

/* 最新发布板块 */

#gdin-newest {}
#gdin-newest .container {}

/* 最新发布头部 */

#gdin-newest .container .newest-title {
  padding-top: 10px;
  background-color: #fff;
  border: 2px dashed rgb(162, 191, 20);
  text-align: center;
  font-size: 26px;
}
#gdin-newest .container .newest-title .icon-scroll {
  width: 12px;
  height: 12px;
  padding: 5px 10px 0 6px;
  float: left;
}
#gdin-newest .container .newest-title .icon-scroll::before {
  content: "\e901";
  font-size: 18px;
}
#gdin-newest .container .newest-title:hover {
  transition: all .4s ease-in-out;
  color: #e92322;
  border-color: #e92322;
}
#gdin-newest .container .newest-title p {
  padding-left: 30px;
}

/* 最新发布内容 */

#gdin-newest .container .newest-content {
  width: 100%;
  height: 200px;
}
#gdin-newest .container .newest-content ul {
  padding: 10px 0 10px 60px;
  background-color: #fff;
}
#gdin-newest .container .newest-content ul li {
  float: left;
  overflow: hidden;
  padding: 5px 0 0 0;
  vertical-align: middle;
  width: 20%;
  margin: 9px 0;
}
#gdin-newest .container .newest-content ul li .pic {
  width: 190px;
  height: 190px;
  text-align: center;
  margin: 0 auto;
  /* display: table-cell; */
  vertical-align: middle;
}
#gdin-newest .container .newest-content ul li .pic a {
  width: 100%;
  display: block;
}
#gdin-newest .container .newest-content ul li .pic a img {
  display: block;
  max-width: 180px;
  max-height: 180px;
  vertical-align: top;
}
#gdin-newest .container .newest-content ul li .pic img:hover {
  animation: scroll 1.5s ease 0s alternate none 2;
  -moz-animation: scroll 1.5s ease 0s alternate none 2;
  -webkit-animation: scroll 1.5s ease 0s alternate none 2;
  ;
}
@keyframes scroll {
  from {
    transform: perspective(400px) rotateY(0deg);
  }
  to {
    transform: perspective(400px) rotateY(360deg);
  }
}
@-webkit-keyframes scroll {
  from {
    -webkit-transform: perspective(400px) rotateY(0deg);
  }
  to {
    -webkit-transform: perspective(400px) rotateY(360deg);
  }
}
@-moz-keyframes scroll {
  from {
    -moz-transform: perspective(400px) rotateY(0deg);
  }
  to {
    -moz-transform: perspective(400px) rotateY(360deg);
  }
}
#gdin-newest .container .newest-content ul li .name {
  height: 35px;
  margin: 0 auto;
  padding: 0 0 1px;
  padding: 1px 0;
  width: 66%;
  line-height: 18px;
  overflow: hidden;
}
#gdin-newest .container .newest-content ul li .price {
  margin: 5px auto;
  width: 84%;
}
#gdin-newest .container .newest-content ul li .price .new-price {
  color: #DA0000;
  font-weight: bold;
  font-size: 15px;
}
#gdin-newest .container .newest-content ul li .price .original-price {
  text-decoration: line-through;
  color: #9c9c9c;
  margin-left: 5px;
}
