<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Document</title>
  <link rel="shortcut icon" href="/Application/Public/gdin.ico" />
  <link rel="stylesheet" href="/Application/Public/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/Application/Public/css/base.css" />
  <link rel="stylesheet" href="/Application/Public/css/sell.css" />
  <link rel="stylesheet" href="/Application/Public/css/bookDetails.css" />
</head>

<body>
  <!-- 头部开始 -->
  <header id="gdin-header">
    <div class="container">
      <div class="pull-left">
        <p class="welcome"><i class="icon-book"></i>您好，欢迎来到广师二手书交易平台!</p>
      </div>
      <div class="pull-right">
        <if condition="!empty($_SESSION['username'])">
        <a>{$Think.session.username}同学,你好！</a>
        <else />
        <a href="" class="login" type="button" data-toggle="modal" data-target="#login_form">请登录</a>
        </if>
        <a href="###" class="myLogin">我的出售</a>
        <a href="###" class="myLogin">我的求购</a>
      </div>
    </div>
  </header>
  <!-- 头部结束 -->
  <!-- 通栏开始 -->
  <section id="gdin-banner">
    <div class="container">
      <!-- 左logo -->
      <div class="logo pull-left">
        <a href="#">
          <img class="logo1" src="/Application/Public/images/logo.jpg" alt="广师" />
        </a>
      </div>
      <!-- 搜索框 -->
      <div class="search pull-left">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="书名、作者、出版社、ISBN">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button">搜索</button>
            </span>
        </div>
        <div class="search-hot">
          <strong>热门搜索：</strong>
          <a href="">高等数学</a>
          <a href="">大学物理</a>
          <a href="">心理学</a>
        </div>
      </div>
      <!-- 右logo -->
      <div class="logo2 pull-left">
        <img src="/Application/Public/images/logo2.png" alt="校训" />
      </div>
    </div>
  </section>
  <!-- 通栏结束 -->
  <!-- 导航开始 -->
  <nav class="navbar navbar-liubin navbar-static-top" data-spy="affix" data-offset-top="60" data-offset-bottom="200" id="gdin-nav">
    <div class="container">
      <div class="menu-box">
        <div class="menu" id="nav_menu">
          <a href="">全部图书分类 <span class="glyphicon glyphicon-triangle-bottom"></span></a>
        </div>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{:U('Home/Index/index')}">首页</a></li>
          <li><a href="{:U('Home/Classify/classify')}">分类</a></li>
          <li><a href="{:U('Home/Buy/buy')}">求购</a></li>
          <li><a href="{:U('Home/Sell/sell')}">出售</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- 导航结束 -->
  <!-- 书籍详情 -->
  <foreach name="book" item="v">
  <section id="bookDetails">
    <div class="container">
      <div class="book-image">
        <img src="/Application/Public/images/{$v.pic}" alt="" />
      </div>
      <div class="book-details">
        <ul class="details-list">
          <h3 class="bookName">{$v.bname}</h3>
          <li>作者：{$v.writer}</li>
          <li>出版社：{$v.press}</li>
          <li>原价：<span class="originalPrice">&yen;{$v.oprice}</span></li>
          <li>新旧程度：{$v.new}</li>
          <li>数量：{$v.num}</li>
          <h4 class="newPrice">现价：<span>&yen;{$v.sprice}</span></h4>
        </ul>
        <if condition="!empty($_SESSION['username'])">
        <button id="contactBtn" class="btn btn-default">点击查看联系方式</button>
        <else />
        <button id="" class="btn btn-default">登录查看联系方式</button>
        </if>
        <a href="###">
          <button id="collectionBtn" class="btn btn-default">点击加入我的收藏</button>
        </a>
      </div>
    </div>
  </section>
  </foreach>
  <!-- 书籍详情结束 -->
  <!-- 登录模态框开始 -->
  <div class="modal fade" id="login_form" tabindex="-1" role="dialog" aria-labelledby="login_title">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="login_title">欢迎登录</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="{:U('Home/Login/login')}" method="post">
            <div class="form-group">
              <label for="userName" class="col-sm-2 control-label">学号:</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="userName" placeholder="请输入您的学号" name="username">
              </div>
            </div>
            <div class="form-group">
              <label for="passWord" class="col-sm-2 control-label">密码:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="passWord" placeholder="请输入密码..." name="password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox">记住我
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">登录</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- 登录模态框结束 -->
  <!-- 页脚开始 -->
  <footer id="gdin-footer">
    <div class="container">
      <div class="footer">
        <table>
          <tr>
            <td><a href="javascript;">关于我们</a></td>
            <td><a href="javascript;">用户协议</a></td>
            <td><a href="javascript;">建议/反馈</a></td>
            <td><a href="javascript;">一起合作</a></td>
            <td><a href="javascript;">隐私保护</a></td>
          </tr>
        </table>
        <p>Copyright &copy; 2016-2017 www.seaweedsweb.com All Rights Reserved</p>
      </div>
    </div>
  </footer>
  <!-- 页脚结束 -->
</body>
<script src='/Application/Public/lib/jquery/jquery-3.1.1.min.js'></script>
<script type="text/javascript">
  let $msg={isbn:"{$_GET['isbn']}",type:"{$_GET['type']}"};
  let $url ="{:U('BookDetails/getUserInfo')}"
  let url1 ="{:U('BookDetails/addCollect')}"
</script>
<script src="/Application/Public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src='/Application/Public/js/classify.js'></script>
<script src="/Application/Public/js/bookDetails.js"></script>
<script type="text/javascript">
  let myLogin = document.getElementsByClassName('myLogin');
    // console.log(myLogin);
    for(let i=0,a;a=myLogin[i++];){
      a.onclick=function chenkLogin(){
        var xhr=new XMLHttpRequest();
        xhr.onreadystatechange=function(){
          if (xhr.readyState == 4) {
            if (xhr.responseText=="Y") {
              location.href="{:U('Personal/personalZone')}"
            }else{
              alert("请先登录！");
            }
          }
        }
        xhr.open("get","{:U('Login/checkLogin')}");
        xhr.send(null);
      }
    }
</script>
</html>
